@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    font-family: 'Rubik', sans-serif;
    background-image: url('./mosque2.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}
